{% extends "base.html" %}
{% load static %}
{% block extrajshead %}
{% endblock %}
{% block main %}
	<input id="slider" type="range" step="1" min="0" max="{{count.steps}}" class="slider" value="0">
	<div id="cluster_info">
		Step <span id="currentStep">{{ params.step }}</span> of {{ count.steps }}, containing <span id="currentCLusters">{{ count.clusters }}</span> clusters <br /> 
		<ul>
		{% for cluster in all_docs %}
			<li><h3>{{ forloop.counter }}: {{ cluster|length }} documents</h3>
				<ul>
				{% for doc in cluster|slice:":10" %}
					<li>{{ doc|truncatewords:20 }}</li>
				{% endfor %}
				</ul>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div id="cluster_overlay">
		<div id="close">Close</div>
		<div id="overlay_inner"></div>
	</div>
{% endblock %}