{% load static %}<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>{% block title %}Comment Clustering{% endblock %}</title>
	<meta name="description" content="Comment Clustering prototype for sunlight foundation">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="{% get_static_prefix %}css/style.css?v=2">
	{% block extrastyle %}{% endblock %}

	<script src="{% get_static_prefix %}js/libs/modernizr.custom.js"></script>
	{% block extrajshead %}{% endblock %}
</head>
<body>
	<div id="container">
		<header>
			{% block header %}{% endblock %}
		</header>

		<div id="main" role="main">
			{% block main %}{% endblock %}
		</div>

		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="{% get_static_prefix %}js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	<script src="{% get_static_prefix %}js/libs/underscore-min.js"></script>
	<script src="{% get_static_prefix %}js/plugins.js"></script>
	<script src="{% get_static_prefix %}js/script.js"></script>
	<script type="text/javascript">
		Modernizr.load([
		{
			test 		: Modernizr.inputtypes.range,
			nope		: [	'css!{% get_static_prefix %}/css/fd-slider.css',
							'{% get_static_prefix %}/js/libs/fd-slider.min.js' ],
			callback	: function(id, testResult) {
				if("fdSlider" in window && typeof (fdSlider.onDomReady) != "undefined") {
					try { fdSlider.onDomReady(); } catch(err) {};
				};
			}		
		},
		{
			test		: window.JSON,
			nope		: '{% get_static_prefix %}/js/libs/history/json2.js'
		},
		{
			test		: Modernizr.history,
			nope		: [	'{% get_static_prefix %}/js/libs/history/history.html4.js' ],
			both		: [ '{% get_static_prefix %}/js/libs/history/history.adapter.jquery.js', '{% get_static_prefix %}/js/libs/history/history.js' ]
		}
		]);
		$(function(){
			
			var templates = {
				step 	: _.template("{% filter escapejs %}{% spaceless %}{% include "step-info.mt.html" %}{%  endspaceless %}{% endfilter %}"),
				cluster : _.template("{% filter escapejs %}{% spaceless %}{% include "cluster-info.mt.html" %}{%  endspaceless %}{% endfilter %}")
			}
			
			$("#slider").change(function(event) {
				var val = $(this).val();
				$('#loader').html("step "+val).fadeIn('fast');
				clearTimeout(window.pushstate);
				window.pushstate = setTimeout("window.History.pushState(null,null,'/'+$('#slider').val())",400);
			});
			
			$(window).bind("statechange", function(){
				State = window.History.getState();
				$.get(
					State.hash, //The backend will figure out what we want based on the URL
					function(data) { //but it gets trickier here.
						if(data.step) {
							$('#cluster_info').html(templates.step({c : data}));
							$('#loader').delay(500).fadeOut('fast');
						} else
						if (data.cluster) {
							$("#cluster_overlay #overlay_inner").html(templates.cluster({cluster: data.cluster}));
							console.log(data);
						}
					}
				)
			});
			
			$("#cluster_info ul>li").live('click', function() {
				data = $(this).attr("data-cluster");
				$("#cluster_overlay").show().animate({
					width				: "80%",
					height				: "80%",
					left 				: "10%",
					top 				: "10%",  
				}, function() { 
						window.pushstate = setTimeout("window.History.pushState(null,null,'/'+$('#slider').val()+'/'+data)",400);
				});
			});
			
			$("#cluster_overlay #close").click( function() {
				$("#cluster_overlay #overlay_inner li").remove();
				$("#cluster_overlay").attr('style','')
			});
			
			$(window).keydown(function(e) {
				if (e.keyCode == 39) {
					//right
					document.getElementById('slider').stepUp()
					window.History.pushState(null,null,"/"+$("#slider").val())
				}
				else if (e.keyCode == 37) {
					//left
					document.getElementById('slider').stepDown()
					window.History.pushState(null,null,"/"+$("#slider").val())
				}
			});
		});
	</script>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
</body>
</html>